

/* UTILITY CLASSES */
a{text-decoration: none;  }
.text-color{color: red;}
.star-clr{color: #ff6138;}
.text-clr{color: #fff;}
li{list-style: none;}
.font-weight{font-weight: 30px;}

/* NAV */
.nav{background-color: rgb(70, 199, 139);}
.btn{padding: 15px 30px; background-color: rgb(197, 123, 70);}
.btn:hover{background-color: rgb(88, 52, 22);transition: 0.5s;}
/* SLIDER */
.slider{background-image: url(../image/bg-4.jpg);background-size: 100% 100%; height: 500px;
background-repeat: no-repeat;}
.or-rm{margin-top: 10%; margin-left: 7%; font-size: 4rem;}

/* form */
label{width: 100%; font-size: 25px; outline: none;}
input{width: 80%; outline:none; padding: 10px 5px; margin: 10px 0px;}
textarea{width: 80%; outline: none;}

/* footer */
footer{background-color: #191514;}
input{background: none; outline: none; }
button{padding: 9px 93px; margin-top: 10px; border: none;}
span{color: #ff0606; }

/* Responsive */
@media(max-width:1024px){
    button{padding: 10px 63px;}
}

@media(max-width:768px){
    .or-rm{margin-top: 15%; margin-left: 5%; font-size: 5rem;}
    .slider{height: 300px;}
    .navig {display: none;}
    .navbar-toggler{justify-content: end;display: block; margin-left: 90%; }
    button{padding: 10px 39px;}
}

@media(max-width:425px){
    .navbar-toggler{justify-content: end;display: block; margin-left: 80%;margin-top: -13%; }
    .hed-rm{margin-top: 20px};
    /* .hed-rm a{display: inline-block; margin-top: 20px;} */
    .nav .container{align-items: center;}
    .col-md-6{margin-top: 20px;}
    .slider{height: 300px;}
    .or-rm{margin-top: 22%; margin-left: 5%; font-size: 4rem;}
    .footers{text-align: center ;}
    .foot-suit{padding: 0px;}
    .foot-suit h5{font-size: 3rem; }
    .foot-nav{margin-top: 3rem;}
    .foot-nav ul{display: flex; justify-content: center;}
    .foot-nav ul li a{padding-right: 10px;}
    .foot-nav h5{text-align: center;}
    .footers .row{padding: 0px!important;}
    
}