*{margin: auto; padding: 0px; box-sizing: border-box; }

/* UTILITY CLASSES */
a{text-decoration: none;  }
.text-color{color: red;}
.star-clr{color: #ff6138;}
.text-clr{color: #fff;}
li{list-style: none;}
.font-weight{font-weight: 30px;}
/* NAVBAR */
.slider{position: relative; background: rgba(0, 0, 0, 0.4);}
.nav{position: absolute;  top: 0px; z-index: 9999; width: 100%; position: fixed; padding: 10px; } 
/* .nav{background-color:transparent; position: fixed;} */


/* SLIDER */
.carousel-inner { background-attachment: fixed;}
.carousel-caption {margin-bottom: 15%;}
.carousel-inner h1{font-size: 4rem;}
.carousel-item::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}
.carousel-control-next, .carousel-control-prev{width: 10%;}
/* our rooms */
.line{width: 12%;  border-top: 1px solid black; margin-top: 0px; color: #fff;}
.line-1{width: 12%;  border-top: 1px solid black; margin-top: 0px;  color: #fff;text-align: start;}
 .col-md-4 img{
    width: 100%;
 }
span{border-bottom: 1px solid black;}

.hotel-features{background-color: antiquewhite; margin-top: 7rem; padding-bottom: 5rem;}
.hotel-icon{width: 35%; }
.hotel-icon img{width: 100%; }

/* promo-offer */
.promo-offer{background-image: url(../image/bg-2.webp); width: 100%; height: 200px; background-attachment: fixed; }

/* OUR GALLERY */
.gallery-sz{width: 100%;}
.gallery-sz img{width: 100%; transition: 0.5s;}

/* WHAT PEOPLE SAY */
.people-img{width: 40%; }
.people-img img{width: 100%; height: 156px;} 


/* footer */
footer{background-color: #191514;}
input{background: none; outline: none; color: white;}
button{padding: 9px 93px; margin-top: 10px; border: none;}
span{color: #ff0606; }

.sticky{background: white; transition: 0.5s;}

/* Hover */ 
/* .img-hovs{overflow: hidden;}
.img-hovs img{ width: 100%; height: 100%; object-fit: cover; transition: transform 500ms;}
.img-hovs:hover img{transform: scale(1.2, 1.2);} */







.box{
    text-align: center;
    overflow: hidden;
    position: relative;
}
.box:before,
.box:after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    transform: scaleX(0);
    transition: all 0.6s ease 0s;
}
.box:after{ transform: scaleY(0); }
.box:hover:before{ transform: scaleX(1); }
.box:hover:after{ transform: scaleY(1); }
.box img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease 0s;
}
.box:hover img{
    transform: scale(1.3);
}
.box .box-content{
    width: 100%;
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 2;
}



.bi:hover{color: rgb(212, 163, 40); padding: 5px; transition: 0.5s;}
a:hover{color: rgb(212, 163, 40);}

.dropdown:hover .dropdown-menu{display: block;}
.dropdown-item:hover{color: #1d1d1f; background-color: darkorange;}
.nav-item:hover {color: #131211; background-color: darkorange; border-radius: 15px;}

.text-hovs:hover{color: rgb(255, 123, 0) !important; font-size: 15px; transition: 0.5s;}
.bx-shedo:hover img{filter: drop-shadow(2px 4px 6px black);}




/* RESPONSIVE */
@media(max-width:1024px){
iframe{width: 450px; height: 300px;}
.carousel-caption{margin-bottom: 0%;}
.navbar-toggler{margin-left: 85%;margin-top: -64px;}
}



@media(max-width:768px){
    .carousel-caption{margin-bottom: 0%;}
    iframe{width: 350px; height: 280px;}
    input{width: 10rem;}
    button{width: 10rem; padding: 10px 42px;}
    .gade{
        display: none;
    }
}

@media(max-width:640px){
    
}

@media(max-width:425px){

    .navbar-toggler{margin-top: -54px !important;}
    .footers{text-align: center ;}
    .foot-suit{padding: 0px;}
    .foot-suit h5{font-size: 3rem; }
    .foot-nav{margin-top: 3rem;}
    .foot-nav ul{display: flex;}
    .foot-nav h5{text-align: center;}
    .footers .row{padding: 0px!important;}
    
}
@media(max-width:376px){
    .people-img img{height: 128px;} 
}
@media(max-width:320px){
    iframe{width: 290px; height: 300px;}
    .navbar-toggler{margin-top: -21%;}
    .people-img img{height: 114px;} 

   
} 

